streamlit
youtube-transcript-api
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-google-genai==1.0.3
faiss-cpu
sentence-transformers
python-dotenv
reportlab
google-generativeai



