streamlit
youtube-transcript-api
langchain>=0.1.0
langchain-community>=0.0.20
langchain-core>=0.1.23
langchain-huggingface
langchain-google-genai>=1.0.0
langchain-text-splitters>=0.0.1
faiss-cpu
sentence-transformers
python-dotenv
reportlab
google-generativeai
requests


